@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    height: 100vh;
    background-color: #00004d;
    width: 100vh;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
}

.container h3{
    font-size: 25px;
}

.screen {
    font-family: "Cursed Timer ULil";
    font-size: 50px;
    background-color: black;
    padding: 10px;
    padding-left: 0px;
    border-radius: 5px;
    color: #F94F6D;
    padding-right: 0px;
    max-width: 100px;
}

.btns {
    list-style: none;
    transform: translateX(-20px);
}

.btns > li {
    display: inline;   
    text-align: center; 
    font-family: "Cursed Timer ULil";
    padding: 3px;
    font-size: 10px;
    cursor: pointer;
    border: solid 1px #9AABD8;
    border-radius: 5px;
    justify-content: space-evenly;
}

#newGame {
    height: 30px;
    font-family: 'Cursed Timer ULil', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    width: 50px;
    cursor: pointer;
    margin: 5px;
    border-radius: 3px;
    border: solid 1px #9AABD8;
    background-color: transparent;
    color: white;   
}